{% extends 'base.html.twig' %}

{% block body %}
<div class="articles">
	{% for article in articles%}
	<div class="col-md-10 col-md-offset-1">
		
		<div class="panel panel-primary ">
		  <div class="panel-heading">
		    <h3 class="panel-title"><a href="{{path('detail_article', {'id': article.id })}}">{{article.nom}}</a></h3>
		  </div>
		  <div class="panel-body">
		  	<p>Catégorie : <a href="{{path('detail_categorie', {'id': article.categorie.id })}}">{{article.categorie.nom }}</a> </p></br>
		    {{article.contenu|raw}}
		  </div>
		  <div class="panel-footer">Date de parution : {{article.dateParution|date('d-m-Y')}}</div>
		</div>
	</div>
	{% endfor %}
	<a class="btn btn-primary btn-lg" href="articles" role="button">Tout les articles</a>
</div>
{% endblock %}