{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary ">
				<div class="panel-heading">
					<p>{{article.nom}} Publié le {{article.dateParution|date('d-m-Y')}} par {{article.auteur.username}}.</p>
				</div>
				<div class="panel-body">
					{{article.contenu|raw}}
				</div>
				<div class="panel-footer">
					<p>Tags : {% for tag in article.tags %} {{tag.nom}} {% endfor %}</p>
					<p>Catégorie : <a href="{{path('detail_categorie', {'id': article.categorie.id })}}">{{article.categorie.nom }}</a> </p>
				</div>
			</div>
		</div>
	</div>
	<div class="block-commentaire">
		<div class="block-header">VOS COMMENTAIRES</div>
		<div class="block-content">
			{{ form_start(form, {'method': 'POST','attr':{'class':'col s12'}}) }}
				<div class="row">
					<div class="col s5">
						{{ form_row(form.auteur) }}
					</div>	
					<div class="col s8 ">
						{{ form_row(form.contenu) }}
					</div>
				</div>
				{{form_widget(form.submit, {'label':'Creer','attr':{'class':'btn waves-effect waves-light'}})}}
			{{ form_end(form)}}
		</div>
		{% for commentaire in article.commentaires%}
		<div class="col-md-10 col-md-offset-1">
		
			<div class="panel panel-primary ">
				<div class="panel-heading">
				<h3 class="panel-title">Commentaire de <b>{{commentaire.auteur}}</b> le {{commentaire.dateParution|date('d-m-Y')}}</h3>
				</div>
				<div class="panel-body">
					{{commentaire.contenu}}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}