{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
{{ form_start(form, {'method': 'POST','attr':{'class':'col s12'}}) }}
	<h2 class="style">Création d'un tag</h1>
	<div class="row">
		<div class="input-field col s6">
			{{ form_label(form.nom) }}
			{{ form_widget(form.nom, {'attr':{'class':'validate'}}) }}
		</div>
	</div>
	{{form_widget(form.submit, {'label':'Creer','attr':{'class':'btn waves-effect waves-light'}})}}
{{ form_end(form) }}
</div>
{% endblock %}